{% extends "layout.html" %}
{% block body %}

	This is where I test presentation for individual jobs in the MySQL table.
	TEST
	<br/>
	<p class=hour_avgs>
		avg sec elapsed by starting hour: <br/>
		{{ hour_avg | safe }}
		<br/>
		Avg sec elapsed by MySQL QUARTER(): <br/>
		{{ by_quarter | safe }}
		<br/>
		Avg over all Mondays: <br/>
		{{monday|safe}}
		
		<br/>
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
		<script type="text/javascript">
		google.charts.load("current", {packages:['corechart']});
		google.charts.setOnLoadCallback(drawChart);
		function drawChart() {
		  var data = google.visualization.arrayToDataTable([
			["Financial Quarter", "avg seconds duration", { role: "style" } ],
			["q1", {{quarter[0] | safe}}, "lightblue"],
			["q2", {{quarter[1] | safe}}, "blue"],
			["q3", {{quarter[2] | safe}}, "lightblue"],
			["q4", {{quarter[3] | safe}}, "blue"]
			]);

		var view = new google.visualization.DataView(data);
				view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                       2]);

				var options = {
				title: "{{jobName | safe}} Average seconds elapsed by Financial Quarter",
				//width: 600,
				//height: 400,
				bar: {groupWidth: "95%"},
				legend: { position: "none" },
				vAxis:{
					viewWindowMode:'explicit',
					viewWindow:{
						min:-1
					}
				}
			};
		  var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
		  chart.draw(view, options);
			}
		</script>
		<br/>
		
		<div id="columnchart_values" style="width: 900px; height: 300px;"></div>
		<br/>
		<!-- 
		Sam's second javascript graph
		------doc-------
		This is a line graph for one job where the y axis is the runtime in seconds and the x axis is days of the month (1-30). It uses the average runtimes for a job on each day of a given month.
		-->
		<script type="text/javascript">
			google.charts.load('current', {packages: ['corechart', 'line']});
			google.charts.setOnLoadCallback(drawBasic);

			function drawBasic() {

				  var data = new google.visualization.DataTable();
				  data.addColumn('number', 'X');
				  data.addColumn('number', 'Time');

				  data.addRows(
					//below line gets turned into something like the sample values via tempalte engine
					{{ by_day | safe }}
				  /* Sample values
				  [
					[0, 300],   [1, 190],  [2, 230],  [3, 170],  [4, 180],  [5, 210],
					[6, 181],  [7, 275],  [8, 330],  [9, 440],  [10, 320], [11, 250],
					[12, 300], [13, 140], [14, 142], [15, 247], [16, 344], [17, 248],
					[18, 152], [19, 554], [20, 242], [21, 355], [22, 356], [23, 157],
					[24, 260], [25, 450], [26, 352], [27, 251], [28, 349], [29, 153],
					[30, 155]
				  ]
				  */
				  );

				  var options = {
					//title: 'Job Runtime over Month of __________',
					title:"{{ jobName | safe }} Runtime by day of the month",
					hAxis: {
					  title: 'Day of the Month'
					},
					vAxis: {
					  title: 'Runtime (in seconds)',
					  
					  viewWindowMode: 'explicit',
					  viewWindow:{
						min: -1
					  }
					  
					}
				  };

				  var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

				  chart.draw(data, options);
				}		
		</script>
		<div id="chart_div" style="width: 900px; height: 300px;"></div>
		<br/>
	
	
	
		<br/>
		Python took {{ timer | safe }} seconds.
		<br/>
	</p>
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	<br/>
	<ul class=alltime>
		<li>autoinc id, sec_elapsed, t_started, weekday, run_date</li>
	{% for entry in alltime %}
		<li>{{entry|safe}}</li>
	{% else %}
		<em>Nothing here yet..?</em>
	{% endfor %}
	
	</ul>
	
	<br/>
	



{% endblock %}