{% extends "layout.html" %}
{% block body %}
	
	<br/>
	<div data-search class="bx--search bx--search--sm" role="search">
		<svg class="bx--search-magnifier" width="16" height="16" viewBox="0 0 16 16" fill-rule="evenodd">
			<path d="M6 2c2.2 0 4 1.8 4 4s-1.8 4-4 4-4-1.8-4-4 1.8-4 4-4zm0-2C2.7 0 0 2.7 0 6s2.7 6 6 6 6-2.7 6-6-2.7-6-6-6zM16 13.8L13.8 16l-3.6-3.6 2.2-2.2z"></path>
			<path d="M16 13.8L13.8 16l-3.6-3.6 2.2-2.2z"></path>
		</svg>
		<label id="search-input-label-1" class="bx--label" for="search__input-2">Search</label>
		<input class="bx--search-input" type="text" id="search__input-2" role="search" placeholder="Search" aria-labelledby="search-input-label-1" onkeyup="search()">
	</div>
	
	<script>
	function search(){
		var input, filter, ul, li, a, i;
		input = document.getElementById('search__input-2');
		filter = input.value.toUpperCase();
		ul = document.getElementById("jobs");
		li = ul.getElementsByTagName('li');

		// Loop through all list items, and hide those who don't match the search query
		for (i = 0; i < li.length; i++) {
			a = li[i].getElementsByTagName("a")[0];
			if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
				li[i].style.display = "";
			} else {
				li[i].style.display = "none";
			}
		}
	}
	</script>
	
	<ul id="jobs">
	{% for entry in entries %}
		<li><a href="{{ url_for('sql_job', jobname=entry) }}" >{{entry|safe}}</a></li>
	{% else %}
		<li><em>Unbelievable. No entries here so far.</em></li>
	{% endfor %}
	</ul>
	
<!--	
  <ul class=results>
  {% for row in results %}
    <li> {{row|safe}}</li>
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>
  
  <ul class=names>
  {% for name in names %}
	<li> {{name|safe}} </li>
	{% else %}
		No names were found, or something else is happening.
	{% endfor %}
  </ul>
 --> 
  
{% endblock %}